<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="kr.co.jhta.mapper.UserMapper">
	
	<select id="searchUsers" resultType="kr.co.jhta.vo.User">
		select
			user_no as no
			, user_id as id
			, user_password as password
			, user_email as email
		from
			tb_users
		where ${col} = #{val}
	</select>

	<!-- 
		resultMap
			+ 데이터 조회 결과를 지정된 객체와 매핑시킨다.
			+ resultMap을 이용하면 별칭설정업시 컬럼의 값을 객체의 멤버변수에 대입할 수 있다.
			+ id태그는 테이블의 기본키 컬럼값을 멤버변수에 매핑시킬 때 사용한다.
			+ result 태그는 기본키 컬럼이 아닌 일반 컬럼값을 매핑시킬 때 사용한다.
			+ resultMap 태그는 일반적으로 간단한 조회 결과를 매핑할 때는 잘 사용하지 않으며, 매우 복잡한 조회 결과를 매핑할 때 사용한다.
	 -->
	<resultMap type="kr.co.jhta.vo.User" id="userResultMap">
		<id property="no" column="USER_NO" />
		<result property="id" column="USER_ID" />
		<result property="password" column="USER_PASSWORD" />
		<result property="name" column="USER_NAME" />
		<result property="email" column="USER_EMAIL" />
		<result property="createdDate" column="USER_CREATED_DATE" />
		<result property="updatedDate" column="USER_UPDATED_DATE" />
	</resultMap>

	<!-- 
		void insertUser(@Param("user") User user);
	 -->
	<insert id="insertUser">
      <selectKey keyProperty="user.no" resultType="int" order="BEFORE">
         select tb_users_seq.nextval 
         from dual
      </selectKey>
      insert into tb_users
      (user_no, user_id
       , user_password
       , user_name
       , user_email)
      values
      (#{user.no}
       , #{user.id}
       , #{user.password}
       , #{user.name}
       , #{user.email})
   </insert>
	
	<!-- 
		void insertUserRole(@Param("no") int userNo,
							@Param("rolename") String rolename)
	 -->
	<insert id="insertUserRole">
		insert into tb_users_roles
		(user_no, user_rolename)
		values
		(#{no}, #{rolename})
	</insert>
	
	<select id="getUserById" resultType="kr.co.jhta.vo.User">
		select 
			USER_NO as no
			, USER_ID as id
			, USER_PASSWORD as password
			, USER_NAME as name
			, USER_EMAIL as email
			, USER_CREATED_DATE as createdDate
			, USER_UPDATED_DATE as updatedDate
		from TB_USERS
		where USER_ID = #{id}
	</select>
	
	<select id="getUserByNo" resultType="kr.co.jhta.vo.User">
		select 
			USER_NO as no
			, USER_ID as id
			, USER_PASSWORD as password
			, USER_NAME as name
			, USER_EMAIL as email
			, USER_CREATED_DATE as createdDate
			, USER_UPDATED_DATE as updatedDate
		from TB_USERS
		where USER_NO = #{no}
	</select>
	
	<select id="getUserByName" resultMap="userResultMap">
		select *
		from TB_USERS
		where USER_NAME = #{name}
	</select>
	
	<select id="getAllUsers" resultMap="userResultMap">
		select *
		from TB_USERS
		order by USER_NO asc
	</select>
</mapper>
